html {
	background: white;
	height: 100vh;
}

body {
	min-height: 100vh;
	font: 14px "Century Gothic", Futura, sans-serif;
}

.background {
	overflow: auto;
	position: relative;
	background: black;
	height: 100vh;
	width: 100vw;

}

.board {
	font-size: 0;
	position: absolute;
	background: white;
	height: 400px;
	width: 400px;
	margin: auto;
	top: -500px;
  right: 0;
  bottom: 0;
  left: 0;

}
/*--- score board --- */
.scoreboard {
	overflow: hidden;
	font-size: 30px;
	line-height: 40px;
	position: absolute;
	background: white;
	height: 40px;
	width: 600px;
	margin: auto;
	top: -1050px;
  right: 0;
  bottom: 0;
  left: 0;

}
.score-X {
	border-right: 4px solid black;
}
.score-O {
	border-left: 4px solid black;
}
.player-score {
	float: right;
}
.score-X:hover, .score-O:hover {
	box-shadow: inset 0 0 0 1px #C1CFDA, inset 0 0 20px #193047; 
}
/*----end scoreboard----*/

/*--- reset button ---*/
.reset-btn button {
	margin: none;
	text-decoration: none;
	font-size: 20px;
	position: absolute;
	height: 40px;
	width: 100px;
	margin: auto;
	top: -950px;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
}
.reset-btn button:hover {
	background: red;
	color: white;
	font-weight: bold;
	box-shadow: none;
}
/*--- end reset button --- */

/*--- squares ---*/
.square {
	vertical-align: top;
	font-size: 0;
	text-align: center;
	display: inline-block;
	border: 2px solid black;
	height: 33.4%;
	width: 33.3333%;
}

.square:hover {
  cursor: pointer;
  user-select: none;
  box-shadow: inset 0 0 0 1px #C1CFDA, inset 0 0 20px #193047; 
}

.square:active {
  user-select: none;
  box-shadow: inset 0 0 0 5px yellow, inset 0 0 80px yellow; 
}

.sq-val {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/*--- end squares ---*/